h1{
    font-size: 40px;color:red;
}
h2{
    font-size: 30px;color:blue;
}
h3{
    font-size: 20px;color:orange;

}
p{
    font-size: 30px;color:green;
}
.img1{
    width: 300px;height: 300px;
}
.image{
    display: flex;
    height: 70vh;
    width: 40vw;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    padding: 6vw;
    margin: 2vw;
}